@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 0 auto;
} 
body {
@apply font-inter text-body-color;
    background: #ffffff;
    line-height: 1.3;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    @apply text-heading-color font-bold;
    line-height: 1.2;
    font-weight: 700;
    @apply font-barlow;
}
p:last-child{
    margin-bottom: 0;
}
p.small {
    @apply text-p-small;
}
a{
    transition: 0.4s ease;
}
h1{
    @apply text-[27px] sm:text-[28px] md:text-[30px] lg:text-[32px] xl:text-[36px];
}
h2{
    @apply text-[22px] sm:text-[26px] md:text-[28px] lg:text-[32px] xl:text-[36px];
}
h3{
    @apply text-[22px] sm:text-[24px] md:text-[26px] lg:text-[28px] xl:text-[30px];
}
h4{
    @apply text-[18px] md:text-[20px] lg:text-[22px] xl:text-[23px];
}
h5{
    @apply text-[16px] sm:text-[16px] md:text-[18px];
}
h6{
    @apply text-[16px];
} 
a:hover{
    @apply text-primary;
}